*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header {
    height:25%;
    width: 100%;
    padding: 0 8%;
    background: #146a92;
    position: relative;
    padding-top: 1%
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 580px;
    height: 200px;

}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    position: relative;
    font-size: 1.5em;
}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width:100%


}

.foto-praia{
    width:400px;
}

.body1{
    display: flex;
    justify-content: space-between;
    padding: 3% 5% 3% 5%;

    background: #c28bbc;
}
.texto-body1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 5% 5% 5%;
}

.titulo {
    width: 100%;
    text-align: center;
    padding: 0 0 4% 0;
    font-size: 3em;
 }

.texto-body1 p1{
    font-size: 2em;
    text-align: justify;
 }

.body2 {
    background:#a15f99 ;
    padding-bottom: 3%;
}
.body2 h1{
    text-align: center;
    font-size: 3em;
    padding:2% 0 2% 0;
}
.grid-jogos{
    display: flex;
}
.secoes {
    /* ajeitar para que o texto fique embaixo da imagem*/
    width: 20%;
    height: 40%;
    text-align: center;

}
.secoes h2{
    padding-bottom: 2%;
}

.secoes img {
    border:2px #146a92;
    border-style:dashed;
    width:320px;
    height: 384px;
}

.secoes p {
    padding: 1% 8% 0 8% ;
}
